*{
    padding: 0;
    border: 0;
    color: white;
}



header{
    background-color:  rgb(128, 128, 172);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0px;
   
    border-style: solid;
    border-width: 4px;
    border-color: rgb(152, 152, 171);
}
body{
    /* background-color: rgb(38, 38, 44); */
    background-color: #26262C;
    font-family: monospace;
    display: flex;
    width: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#video{
    color: rgb(145, 145, 168);
    border-style: solid;
    border-width: 4px;   
    width: 95vw;
    height:60vh;
    position: relative;
    left: -5px;
   
}

#video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
   gap: 20px;
    top: 70px;
}

#button-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    gap: 20px;
    top: 90px;
}
.PrevNext{
    text-decoration: none;
    color: white;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    width:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
   

    }
    .PrevNext:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    
}

    footer{
     position: fixed;
     bottom: 0;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     background-color:  rgb(128, 128, 172);
    height: 40px;
    left: 0px;
    width: 100%;
    
    border-style: solid;
    border-width: 4px;
    border-color: rgb(152, 152, 171);
    }

    #hob{
        font-size: 20px;
        font-weight: 600;
        font-style: bold;

    }
    